
body{
    margin: 0;
}
.about{
    margin-top: 50px;
}
h2{
    color: #7a0800;
    text-decoration: underline;
}
h1{
    text-align: center;
}
p{
    font-family: monospace;
    font-size: 15px;
}
.suprise{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 47%;
    width: 80px;
    height: 50px;
}
.suprise button{
}


.row{
    display: block;
    width: 100%;
}

#header{
    background: rgb(32, 97, 163);
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: rgb(21, 54, 89);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    display: none;
    background: rgb(47, 117, 187);
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background: #26416a;
}
.burger-ico{
    background: url("../images/icons/burgermenu128p.png");
}

.user-ico{
    background: url("../images/icons/user.png");
}

.wallet-ico{
    background: url("../images/icons/wallet.png");
}

.gallery-ico{
    background: url("../images/icons/gallery.png");
}

.ico{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
    margin: 5px;
    vertical-align: middle;
}

.ico-l{
    width: 24px;
    height: 24px;
}
.right-content{
    text-align: right;
}
.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.right-content,
.center-content {
    padding: 0 10px;
}

.right-content a {
    text-decoration: none;
    color: white;
}
.center-content h2{
    text-decoration: none;
    color: black;
}

.fw {
    text-align: center;
    font-size: x-large; 
}